.centered_toolbar{
    width:100%;
    margin:auto;
}
.mdc-toolbar-demo {
  margin: 0px;
}

.demo-paragraph {
  margin: 0px;
  padding: 20px 28px;
}

/* Place drawer and content side by side. */

.demo-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

@media (max-width: 599px) {
  .demo-paragraph {
    padding: 16px;
  }
}


.topbar{
  --mdc-theme-primary: #03A9F4;
}

.hide{
  display: none;  
}

/*.ranking{*/
/*    display: inline-block;*/
/*    background: #000;*/
/*    border-radius: 4px;*/
/*    font-family: "arial-black";*/
/*    font-size: 14px;*/
/*    color: #FFF;*/
/*    padding: 8px 12px;*/
/*    cursor: pointer;*/
    
/*}*/

.ranking{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 
  40px;
  cursor: pointer;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: rgb(30, 205, 151);
  text-align: center;
}

.low_ranking{
  border: 2px solid #e91e63;
}

.medium_ranking{
  border: 2px solid #FFEB3B;
  
}

.high_ranking{
    border: 2px solid rgb(30,205,151);
}

.ranking:hover{
    background: red;

}

a.result-title:link    {
  text-decoration:  none;
  font-weight:      normal;
  color:            #1a0dab;
  } 
a.result-title:visited {
  text-decoration:  none;
  font-weight:      normal;
  color:            #1a0dab;
  } 
a.result-title:hover   {
  text-decoration:  underline !important;
  font-weight:      normal;
  color:            #1a0dab;
  } 
a.result-title:active  {
  text-decoration:  none;
  font-weight:      normal;
  color: #1a0dab;
  } 

a.resultNav:link    {
  /* Applies to unvisited links of class mainNav */
  text-decoration:  none;
  font-weight:      normal;
  color:            black;
  } 
a.resultNav:visited {
  /* Applies to visited links of class mainNav */
  text-decoration:  none;
  font-weight:      normal;
  color:            #000;
  } 
a.resultNav:hover   {
  /* Applies to links under the pointer of class mainNav */
  text-decoration:  none;
  font-weight:      normal;
  color:            #000;
  } 
a.resultNav:active  {
  /* Applies to activated links of class mainNav */
  text-decoration:  none;
  font-weight:      normal;
  color: black;
  } 
  








/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */

.picker__holder,
.picker__frame {
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%
}

.picker__holder {
    position: fixed;
    -webkit-transition: background 0.15s ease-out, top 0s 0.15s;
    transition: background 0.15s ease-out, top 0s 0.15s;
    -webkit-backface-visibility: hidden
}

.picker__frame {
    position: absolute;
    margin: 0 auto;
    min-width: 256px;
    width: 300px;
    max-height: 350px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out
}

@media (min-height: 28.875em) {
    .picker__frame {
        overflow: visible;
        top: auto;
        bottom: -100%;
        max-height: 80%
    }
}

@media (min-height: 40.125em) {
    .picker__frame {
        margin-bottom: 7.5%
    }
}

.picker__wrap {
    display: table;
    width: 100%;
    height: 100%
}

@media (min-height: 28.875em) {
    .picker__wrap {
        display: block
    }
}

.picker__box {
    background: #ffffff;
    display: table-cell;
    vertical-align: middle
}

@media (min-height: 28.875em) {
    .picker__box {
        display: block;
        border: 1px solid #777777;
        border-top-color: #898989;
        border-bottom-width: 0;
        border-radius: 5px 5px 0 0;
        -webkit-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
        box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24)
    }
}

.picker--opened .picker__holder {
    top: 0;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
    zoom: 1;
    background: rgba(0, 0, 0, 0.32);
    -webkit-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out
}

.picker--opened .picker__frame {
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1
}

@media (min-height: 35.875em) {
    .picker--opened .picker__frame {
        top: 10%;
        bottom: auto
    }
}

.picker__input.picker__input--active {
    border-color: #E3F2FD
}

.picker__frame {
    margin: 0 auto;
    max-width: 325px
}

@media (min-height: 38.875em) {
    .picker--opened .picker__frame {
        top: 10%;
        bottom: auto
    }
}

@media only screen and (min-width: 601px) {
    .picker__box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .picker__frame {
        width: 80%;
        max-width: 600px
    }
}

.picker__box {
    padding: 0;
    border-radius: 2px;
    overflow: hidden
}

.picker__header {
    text-align: center;
    position: relative;
    margin-top: .75em
}

.picker__month,
.picker__year {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em
}

.picker__select--month,
.picker__select--year {
    height: 2em;
    padding: 0;
    margin-left: .25em;
    margin-right: .25em
}

.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 40%
}

.picker__select--year.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 26%
}

.picker__select--month:focus,
.picker__select--year:focus {
    border-color: rgba(0, 0, 0, 0.05)
}

.picker__nav--prev,
.picker__nav--next {
    position: absolute;
    padding: .5em 1.25em;
    width: 1em;
    height: 1em;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    top: -0.25em
}

.picker__nav--prev {
    left: -1em;
    padding-right: 1.25em
}

.picker__nav--next {
    right: -1em;
    padding-left: 1.25em
}

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
    cursor: default;
    background: none;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5
}

.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 1rem;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em
}

.picker__table th,
.picker__table td {
    text-align: center
}

.picker__table td {
    margin: 0;
    padding: 0
}

.picker__weekday {
    width: 14.285714286%;
    font-size: .75em;
    padding-bottom: .25em;
    color: #999999;
    font-weight: 500
}

@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom: .5em
    }
}

.picker__day--today {
    position: relative;
    color: #595959;
    letter-spacing: -.3;
    padding: .75rem 0;
    font-weight: 400;
    border: 1px solid transparent
}

.picker__day--disabled:before {
    border-top-color: #aaaaaa
}

.picker__day--infocus:hover {
    cursor: pointer;
    color: #000;
    font-weight: 500
}

.picker__day--outfocus {
    display: none;
    padding: .75rem 0;
    color: #fff
}

.picker__day--outfocus:hover {
    cursor: pointer;
    color: #dddddd;
    font-weight: 500
}

.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    cursor: pointer
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    background: #0089ec;
    color: #ffffff
}

.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default
}

.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
    background: #bbbbbb
}

.picker__footer {
    text-align: right
}

.picker__button--today,
.picker__button--clear,
.picker__button--close {
    border: 1px solid #ffffff;
    background: #ffffff;
    font-size: .8em;
    padding: .66em 0;
    font-weight: bold;
    width: 33%;
    display: inline-block;
    vertical-align: bottom
}

.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
    cursor: pointer;
    color: #000000;
    background: #b1dcfb;
    border-bottom-color: #b1dcfb
}

.picker__button--today:focus,
.picker__button--clear:focus,
.picker__button--close:focus {
    background: #b1dcfb;
    border-color: rgba(0, 0, 0, 0.05);
    outline: none
}

.picker__button--today:before,
.picker__button--clear:before,
.picker__button--close:before {
    position: relative;
    display: inline-block;
    height: 0
}

.picker__button--today:before,
.picker__button--clear:before {
    content: " ";
    margin-right: .45em
}

.picker__button--today:before {
    top: -0.05em;
    width: 0;
    border-top: 0.66em solid #0059bc;
    border-left: .66em solid transparent
}

.picker__button--clear:before {
    top: -0.25em;
    width: .66em;
    border-top: 3px solid #ee2200
}

.picker__button--close:before {
    content: "\D7";
    top: -0.1em;
    vertical-align: top;
    font-size: 1.1em;
    margin-right: .35em;
    color: #777777
}

.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default
}

.picker__button--today[disabled]:before {
    border-top-color: #aaaaaa
}

.picker__date-display {
    text-align: left;
    background-color: #26a69a;
    color: #fff;
    padding: 18px;
    font-weight: 300
}

@media only screen and (min-width: 601px) {
    .picker__date-display {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .picker__weekday-display {
        display: block
    }
    .picker__container__wrapper {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2
    }
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
    cursor: pointer;
    color: #000000;
    background: #a1ded8
}

.picker__weekday-display {
    font-weight: 500;
    font-size: 2.8rem;
    margin-right: 5px;
    margin-top: 4px
}

.picker__month-display {
    font-size: 2.8rem;
    font-weight: 500
}

.picker__day-display {
    font-size: 2.8rem;
    font-weight: 500;
    margin-right: 5px
}

.picker__year-display {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7)
}

.picker__calendar-container {
    padding: 0 1rem
}

.picker__calendar-container thead {
    border: none
}

.picker__table {
    margin-top: 0;
    margin-bottom: .5em
}

.picker__day--infocus {
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: -.3px;
    padding: 0.75rem 0;
    font-weight: 400;
    border: 1px solid transparent
}

@media only screen and (min-width: 601px) {
    .picker__day--infocus {
        padding: 1.1rem 0
    }
}

.picker__day.picker__day--today {
    color: #26a69a
}

.picker__day.picker__day--today.picker__day--selected {
    color: #fff
}

.picker__weekday {
    font-size: .9rem
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #26a69a;
    color: #ffffff
}

.picker__day--selected.picker__day--outfocus,
.picker__day--selected:hover.picker__day--outfocus,
.picker--focused .picker__day--selected.picker__day--outfocus {
    background-color: #a1ded8
}

.picker__footer {
    text-align: right;
    padding: 5px 10px
}

.picker__close,
.picker__today,
.picker__clear {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #26a69a
}

.picker__clear {
    color: #f44336;
    float: left
}

.picker__nav--prev:before,
.picker__nav--next:before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: 0.75em solid #676767;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto
}

.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #676767
}

button.picker__today:focus,
button.picker__clear:focus,
button.picker__close:focus {
    background-color: #a1ded8
